
@use 'aux' as a;
@use 'slide' as sld;
@use 'cultos' as cult;
@use 'pastores' as past;

@mixin corpo{

    main{
        z-index: 0;
        position:relative; //relative
        //Coloca todo o corpo no centro.
        margin: 0 auto 0;

        //Cor do 'main'
        background-color: rgba(a.$corMain, 1);//Era $corMan

        border-radius:55px 55px 0 0;

        width: 1000px;//era 1000px
        height: 92%;

//!!  LEMBRAR DE COLOCAR DE VOLTA PRA AUXIAR O DESENVOLVIMENTO !!

        //@include a.bd(purple);
        //background-color: orange;


        //Slide
        @include sld.modulo1;

        //Cultos
        @include cult.modulo2;

        //Pastores
        @include past.modulo3;

        
    }//Final de 'main'

}