@use 'aux' as a;

@mixin modulo3{

    #caixa3{
        
        //@include a.bd(red);

        display: flex;
        flex-direction: column;

        margin-top: 50px;

        @include a.tamAl(550px, 100%);

        h1{
            display:flex;
            justify-content: center;

            font-family: Tahoma;
            font-size: 60px;

            color: a.$corMr; //Era $corAux

            margin-bottom:20px;
        }

        
        .contCx3{

            display:grid;
            grid-template-columns: repeat(4, 25%);
            grid-template-rows: repeat(2, 50%);

            justify-items: center;
            align-items: center;

            

            //@include a.bd(blue);

            height: 80%;

            .cxPrs{
                display: flex;
                flex-direction: column;
                align-items:center;

               

                @for $a from 1 through 8{

                    .pr#{$a}{

                        @if $a == 1{
                            background-image:url('Pr.Marcelo.jpg');

                        }@else if $a == 2{
                            background-image:url('Pr.Djalma.jpg');

                        }@else if $a == 3{
                            background-image:url('PrLaura.jpg');

                        }@else if $a == 4{
                            background-image:url('PrKarine.jpg');

                        }@else if $a == 5{
                            background-image:url('BpaShirley.jpg');

                        }@else if $a == 6{
                            background-image:url('PrMoises.jpg');

                        }@else if $a == 7{
                            background-image: url('PrVilma.jpg');

                        }@else if $a == 8{
                            background-image: url('PbIsaias.jpg');

                        }//Final de '@else if'


                        //isaias, vilma
                    }//Final de '.pr#{$a}'



                }//Final de '@for'

                .prs{

                    //background-size:contain;
                    background-size: 104% 104%;
                    background-repeat:no-repeat;
                    background-position: center;

                    
                    @include a.tamAl(150px, 150px);
                    //@include a.bg(a.$corAux);
    
                    //@include a.bd(white);
                    border: 5px solid white;

                    border-radius: 100px;
    
                }
                h2{
                    font-family:arial;
                    color: a.$corAux2;//era brown
                }
            }
            

        }//Final de 'contCx3'

        //Slide

        //Esconde os inputes
        input{display:none;}


    }//Final de '#caixa3'

}//Final de 'modulo3'